.projects {
    @apply flex flex-col justify-center mt-16;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* margin-top: 16px; */
}

.projects h1 {
    @apply text-3xl font-bold pb-12;
    color: var(--green);
}

/* Tabs styling */
.tabs {
    @apply flex gap-4 max-md:gap-3 mb-10 max-md:flex-col;
}

.tabs button {
    @apply border-b outline-none;
    padding: 8px 16px;
    /* border-radius: 8px; */
    /* background: var(--blue); blue color */
    /* color: var(--white); */
    /* cursor: pointer; */
    /* font-size: 14px; */
    transition: background-color 0.3s;
}

.tabs button.active-tab {
    background: var(--blue);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projectCard {
    /* background: var(--blue); dark background */
    /* padding: 16px; */
    /* border-radius: 8px; */
}

.project-frame {
    @apply w-full h-[300px] max-lg:h-[250px];
    /* width: 100%; */
    /* height: 300px; */
    background: var(--white);
}

.project-details {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.project-details h4 {
    @apply text-2xl font-bold;
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* color: #ffffff; */
}

.project-details a {
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* color: #ffffff; */
}

.tech-list {
    display: flex;
    gap: 8px;
    font-size: 14px;
    margin-top: 8px;
}

.tech-list li {
    @apply p-2;
    background: var(--blue);
    /* border-radius: 4px; */
    /* color: white; */
}

