@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #EFFFFB;
    --green: #50D890;
    --blue: #4F98CA;
    --black: #272727;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    touch-action: manipulation; 
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: var(--black);
    color: var(--white);
    @apply w-full;
}
#root {
    @apply w-full flex justify-center;
}

.homeContent {
    @apply  w-5/12 p-0 m-0 max-md:w-10/12;
}














::-webkit-scrollbar {
    width: 6px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: var(--black); 
}

::-webkit-scrollbar-thumb {
    background: var(--green);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}
