.carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between the two carousels */
}

.carousel {
    display: flex;
    animation: slide 20s infinite linear;
    
}

.carousel.reverse {
    animation: slide-reverse 20s infinite linear;
}

.slide {
    min-width: 20%; /* Adjust this depending on the number of logos */
    transition: transform 0.5s ease-in-out;
}

/* @keyframes for normal sliding */
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Adjust this based on number of logos */
}

/* @keyframes for reverse sliding */
@keyframes slide-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

@media not all and (min-width: 768px) {
    .slide {
        min-width: 40%;
    }
}